/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.brand { 
    max-height: 30px;
    max-width: 30px; 
    overflow: visible;
    padding-top: -10px;
    padding-bottom: 0; 
}

.navbar-avatar {
  width:30px;
  height: 30px;
  border-radius: 50%;
}

.role {
  line-height: 50px;
}


#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background-color: black;
  color: white;
  padding: 10px;
  margin: auto;
  ul {
    li {
      float: left;
      margin-right: 20px;
      list-style: none;
      display: inline;
    }
  }
}