/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "kartik-v-bootstrap/fileinput.css";
@import "kartik-v-bootstrap/fileinput.min.css";
@import "kartik-v-bootstrap/fileinput";
@import "kartik-v-bootstrap/fileinput.min";
@import "font-awesome";

.brand { 
    max-height: 30px;
    max-width: 30px; 
    overflow: visible;
    padding-top: -10px;
    padding-bottom: 0; 
    margin-top: -1px;
}

.navbar {
  min-height: 65px;
  .navbar-form {
    margin-top: +13px;
  }
  .role {
   line-height: 50px;
   margin-top: 4px;
  }
  .become-a-host {
    margin-top: 4px;
  }
  .navbar-avatar {
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -1px;
  }
}

.signin_signup {
  margin-top: 5px;
}

.navbar-collapse {
  overflow: hidden;
  max-height: none !important;
  height: auto !important;
}

#signIn {
  .seperator {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0px 20px 18px;
    width: 382px;
    span {
    background-color: #fff;
    padding: 0 10px;
    }
  }
}

#signUpEmail {
  .seperator {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0px 20px 18px;
    width: 382px;
    span {
    background-color: #fff;
    padding: 0 10px;
    }
  }
}

#signUp {
  .seperator {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0px 20px 18px;
    width: 382px;
    span {
    background-color: #fff;
    padding: 0 10px;
    }
  }
  a {
    display: inline-block;
  }
  .terms {
    width: 382px;
    margin: 10px 0px 0px 18px;
  }
}

.modal-dialog {
  width: 450px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer {
  p {
    margin-left: 18px;
    margin-top: 8px;
  }
  a {
    margin-right: 20px;
  }
}

.sign-in-form {
  width:384px;
  margin-left: 18px;
}

.listing-page {
  margin-bottom: 20px;
}

html,
body {
    height: 100%;
}

body { 
  padding-top: 70px;
}

.home-page-carousel {
    height: 75%;
    margin-top: -10px;
}

.home-page-item,
.home-page-active,
.home-page-carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption {
  top: 40%;
  bottom: auto;
  font-family: 'Roboto', sans-serif;
}

.home-page-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
 -webkit-transform: scale(0.8);
 /* Browser Variations: */
 
 -moz-transform: scale(0.8);
 -o-transform: scale(0.8);
 -webkit-transition-duration: 0.5s;
 -moz-transition-duration: 0.5s;
 -o-transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

