<footer id="footer">
  <div class="container">
    <ul>
      <li>About Us</li>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Contact Us</li>
      <li>Signup for newsletter</li>
    </ul>
  </div>
</footer>